#agenda {
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
}

.jogo {
    border: 2px solid #046dd6;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.jogo:hover {
    transform: scale(1.02);
}

.jogo.destaque {
    border-color: #00FFAA;
    background-color: rgba(0, 255, 170, 0.1);
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
}