.centered {
  text-align: center;
}

form {
  background: #01213a; /* COR DO FORMULÁRIO | FUNDO*/
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 10px rgba(255,25,255,0.1);
  animation: slideUp 0.8s ease;
}

label {
  display: block;
  margin: 12px 0 6px; /* MARGEM DO FORMULÁRIO | TEXTO*/
  color: #FFF; /* COR DO FORMULÁRIO | TEXTO*/
}

input, select, textarea {
  width: 98%;
  padding: 8px; /* MARGEM DO PREENCHIMENTO | FORMULÁRIO*/
  margin-bottom: 10px;
  border-radius: 12px;
  border: 2px solid #204050; /* COR DO PREENCHIMENTO DA BORDA */
  background: #000; /* COR DO FUNDO DO FORMULÁRIO */
  color: #FFF; /* COR DO PREENCHIMENTO DO FORMULÁRIO */
}

input[type="range"] {
  width: 100%;
}

.range-numbers {
  display: flex;
  justify-content: space-between;
  font-size: 0.85em; /* TAMANHO DOS NÚMEROS | PROBABILIDADE */
  margin-bottom: 4px;
  color: #FFFF00; /* PROBABILIDADE | COR NÚMEROS */
}

.range-labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em; /* TAMANHO DO TEXTO | PROBABILIDADE */
  margin-bottom: 6px;
  color: #50C080; /* PROBABILIDADE | COR TEXTO */
}

#charCount {
  text-align: right;
  font-size: 0.85em;
  color: #50C080; /* PROBABILIDADE | COR CARACTERES */
}

button {
  background: #003366;
  color: white;
  padding: 20px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0055aa;
}

.fade-in {
  animation: fadeIn 1.2s ease-in;
}

/*.blinking {
  animation: blinkingText 4.5s infinite;
}*/

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes blinkingText {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}
