.galeria {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* sempre 3 colunas no desktop */
  gap: 20px;
  animation: fadeIn 1.5s ease-in-out;
  justify-content: center;
}

.album {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
  overflow: hidden;
}

.album img {
  width: 90%;
  max-width: 220px;
  margin: 0 auto 10px auto;
  display: block;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.album a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 5px;
}

.album:hover {
  transform: scale(1.05);
}

.album-destaque {
  animation: pulse 2s infinite;
  border: 2px solid #f1c40f;
}

/* RESPONSIVO - MOBILE */
@media (max-width: 768px) {
  .galeria {
    grid-template-columns: 1fr; /* 1 álbum por linha */
    padding: 10px;
  }

  .album img {
    width: 100%;
    max-width: 100%;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}
