/* Media Queries */

@media (min-width: 576px) {
	/* celular */
	
}

@media (max-width: 576px) {
	/* celular */
	
}

@media (min-width: 768px) {
	/* celular / tablet */

}


@media (max-width: 768px) {
  nav {
      flex-direction: column;
  } 
   .flex-container {
        flex-direction: column;
        align-items: center;
}

@media (min-width: 992px) {
	/* pequenas telas */

}

@media (max-width: 992px) {
	/* pequenas telas */

}

@media (min-width: 1200px) {
	/* grandes telas */

	}
	
@media (max-width: 1200px) {
	/* grandes telas */

	}	