
/* Cores do Site */

:root {
	--color1: #2299DD;
	--color2: #00CCFF;
	--color3: #EEEEEE;
	--color4: #BBAA99;
	--branco: #ffffff;
	--black:  #000000;
	--yellow: #ffd900;
	--red:    #c50000;
	--nav:    #093A48;	
}


*,
*:hover {
	transition: 0.3s all;
}


.all {
	margin: :0;
	padding: 0;
}


body { 
	font-family:'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 110% 
}

header {
	background-image: url('../img/bg_header.png');
	/* background-size: cover; */
	   background-size: contain;
}


/* MENU SOCIAL */

section#social ul {
	background-color: var(--nav);
	margin: 0;
	padding: .2rem;
}

/* MENU PRINCIPAL */

.navbar-toggler,
.custom-toggler.navbar-toggler-icon {
	border-color: #fff !important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


#menu #navbarPrincipal ul {
	margin-top: .4rem;
}

#menu #navbarPrincipal ul li {
	margin: 0 1.1rem;
}

#menu #navbarPrincipal ul li a {
	border-bottom: 1px solid transparent;
	color: var(--yellow);
	font-size: 2.1rem;
	padding: 0;
	text-transform: lowercase;		
}

#menu #navbarPrincipal ul li a:hover, #menu #navbarPrincipal ul li.active a {
	color: var(--branco);
	border-bottom: 1px solid var(--color1);
}

/* SLIDE */

img.slide {
	width: 100%;
}

/* CONTEUDO */

section#content .content {
	background: url('../img/bg_marrom.png') repeat var(--black);
	background-size: 764px;
}

.bg-white {
	background: var(--branco);
}

.bg-shadow {
	box-shadow: 0 9px 0px 0px white, 0 10px 0px 0px white, 12px 0 6px -4px rgba(68, 68, 68, 0.8), -12px 0 6px -4px rgba(68, 68, 68, 0.8);
}

/* MAP */

.bg-yellow {
	background: url('../img/bg_1body.jpg') repeat var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
}

.bg-yellow .address {
	width: 20rem;
	height: 6rem;
}

.bg-yellow .address h3 {
	text-transform: uppercase;
	font-weight: 700;
	color: var(--color1);
}

.bg-yellow .address h4 {
	text-transform: uppercase;
	font-weight: 700;
	color: var(--branco);
}

.bg-yellow .address h5 {
	text-transform: uppercase;
	font-weight: 700;
	color: var(--color4);
}

/* RODAPÉ */

footer .footer {
	background:  url('../img/bg_white.png') repeat var(--color4);
}

footer .footer p {
	color: var(--branco);
}

/* PÁGINA | FLÁVIA LETÍCIA*/

h3.title { 
	text-transform: uppercase;
	color: var(--branco);

}


@media (min-width: 576px) {
	/* celular */
	
	body.home header {
		min-height: 25.25rem;
	}
	
	.bg-yellow {
		margin-top: 0;
	}
}

@media (min-width: 768px) {
	/* celular / tablet */
}

@media (min-width: 992px) {
	/* pequenas telas */

}

@media (min-width: 1200px) {
	/* grandes telas */

	body.home header {
		min-height: 31.25rem;
	}
}