
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Arial Black', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: 3.5rem;
  transform-origin: center center;
  transition: transform 0.3s ease;
}

body.girado {
  transform: rotate(90deg);
}

.placar-container {
  max-width: 100%;
  width: 100%;
  padding: 20px;
}

.data-hora {
  font-size: 2.5rem;
  color: #00BFFF;
  margin-bottom: 10px;
}

.cronometro {
  font-size: 5rem;
  margin: 10px 0;
  color: white;
}

.times {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.time-nome-input {
  font-size: 2.5rem;
  text-align: center;
  width: 80%;
}

.set-info {
  font-size: 2.7rem;
  color: white;
  width: 10%;
}

.pontuacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8.5rem;
  margin: 1px 0;
}

.pontuacao span {
  margin: 0 65px;
  color: white;
}

.versus {
  margin: 0 100px;
  color: #00BFFF;
}

button {
  font-size: 2rem;
  padding: 10px 20px;
  margin: 15px;
  background-color: #00BFFF;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.botoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
}

.creditos {
  margin-top: 40px;
  font-size: 1.2rem;
  color: #888;
}

.btn-menor {
  font-size: 1.5rem;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #00BFFF;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
